---
import LayoutBase from "../layouts/LayoutBase.astro";

---

<LayoutBase>
    <main>
        <section class="project-list">
            <h2>Mis Proyectos</h2>
            <ul>
                <li>
                    <article class="project-card">
                        <figure>
                            <img src="imagen_proyecto1.png" alt="Imagen del proyecto 1">
                        </figure>
                        <figcaption>
                            <h3>Título del proyecto 1</h3>
                            <p>Descripción breve del proyecto 1...</p>
                            <button type="button">Ver detalles</button>
                        </figcaption>
                    </article>
                </li>
                <li>
                    <article class="project-card">
                        <figure>
                            <img src="imagen_proyecto2.png" alt="Imagen del proyecto 2">
                        </figure>
                        <figcaption>
                            <h3>Título del proyecto 2</h3>
                            <p>Descripción breve del proyecto 2...</p>
                            <button type="button">Ver detalles</button>
                        </figcaption>
                    </article>
                </li>
                <li>
                    <article class="project-card">
                        <figure>
                            <img src="imagen_proyecto3.png" alt="Imagen del proyecto 3">
                        </figure>
                        <figcaption>
                            <h3>Título del proyecto 3</h3>
                            <p>Descripción breve del proyecto 3...</p>
                            <button type="button">Ver detalles</button>
                        </figcaption>
                    </article>
                </li>
            </ul>
        </section>
    </main>
</LayoutBase>