---
import LayoutBase from "../layouts/LayoutBase.astro";

---

<LayoutBase>
    <!-- Banner -->
    <section id="banner">
        <div class="container">
            <h1>Welcome to my professional website</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies.</p>
        </div>
    </section>
    
    <!-- Main Content -->
    <main>
        <section id="blog">
            <div class="container">
                <h2>Latest Posts</h2>
                <hr>
                <div class="posts">
                    <article>
                        <h3>Post Title 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post1">Read More &raquo;</a>
                    </article>
                    <article>
                        <h3>Post Title 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post2">Read More &raquo;</a>
                    </article>
                    <article>
                        <h3>Post Title 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post3">Read More &raquo;</a>
                    </article>
                </div>
            </div>
        </section>
        
        <!-- Recommended Posts -->
        <section id="recommended-posts">
            <div class="container">
                <h2>Recommended Posts</h2>
                <hr>
                <div class="posts">
                    <article>
                        <h3>Post Title 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post4">Read More &raquo;</a>
                    </article>
                    <article>
                        <h3>Post Title 5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post5">Read More &raquo;</a>
                    </article>
                    <article>
                        <h3>Post Title 6</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lectus vel nunc porta ultricies. In hac habitasse platea dictumst. Curabitur non blandit mauris. Donec ac tellus sed arcu vehicula fringilla ut vitae ex.</p>
                        <a href="#post6">Read More &raquo;</a>
                    </article>
                </div>
            </div>
        </section>
    </main>
</LayoutBase>